/* You can add global styles to this file, and also import other style files */

$primary-color: #26b7a0
$secondary-color: #3d3f4c
$facebook-color: #4267b2
$Ghost: #CCCCD6 
$Mischka: #E0DFEA 
$Cavern-Pink: #E3BCB8
$Sidecar: #F5ECC8 


$theme-colors: ("primary": #26b7a0, "secondary": #3d3f4c, "facebook": #4267b2)
@import '../node_modules/bootstrap/scss/bootstrap'